<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Pokemon searching mechanism</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" alt="">
    </header>
    <nav>
        <div id="left_side">
            <a href="/index.html">
                Home
            </a>
        </div>

        <div id="right_side">
            <a href="/search.html" style="float: right;">
                Search
            </a>
        </div>
      

        </ul>
    </nav>
    <div id="content"> 
    <h1>
        <div class="card" >
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png" alt="">
            <progress id="file" value="<%= hp %>" max="255"> <%= hp %>% </progress>
            <div class="card-body">
                <% if (type === "grass") { %>
                    <p class="card-text" style="color: green; " >  <%= type %></p>
                    <% } else if (type === "water") { %>
                    <p class="card-text" style="color: blue">  <%= type %></p>
                    <% } else if (type === "electric") { %>
                    <p class="card-text" style="color: yellow"> <%= type %></p>
                    <% } else if (type === "fire") { %>
                    <p class="card-text" style="color: red"> <%= type %></p>
                    <% } else if (type === "fairy") { %>
                    <p class="card-text" style="color: pink"> <%= type %></p>
                    <% } else if (type === "poison") { %>
                    <p class="card-text" style="color: purple"> <%= type %></p>
                    <% } else if (type === "ground") { %>
                    <p class="card-text" style="color: brown"> <%= type %></p>
                    <% } else if (type === "rock") { %>
                    <p class="card-text" style="color: gray"> <%= type %></p>
                    <% } else if (type === "bug") { %>
                    <p class="card-text" style="color: green; border-radius: 12px;"> <%= type %></p>
                    <% } else if (type === "ghost") { %>
                    <p class="card-text" style="color: purple"> <%= type %></p>
                    <% } else if (type === "dragon") { %>
                    <p class="card-text" style="color: blue"> <%= type %></p>
                    <% } else if (type === "steel") { %>
                    <p class="card-text" style="color: gray"> <%= type %></p>
                    <% } else if (type === "fight") { %>
                    <p class="card-text" style="color: red"> <%= type %></p>
                    <% } else { %>
                    <p class="card-text" style="color: grey">  <%= type %></p>
                    <% } %>

                <h5 class="card-title">Name: <%= name %></h5>
                <p class="card-text">ID: <%= id %> <progress id="file" value="<%= id %>" max="777"> <%= id %>% </progress></p> 
                <p class="card-text">HP: <%= hp %> <progress id="file" value="<%= hp %>" max="255"> <%= hp %>% </progress></p>
                <p class="card-text">Attack: <%= attack %> <progress id="file" value="<%= attack %>" max="526"> <%= attack %>% </progress></p>
                <p class="card-text">Defense: <%= defense %> <progress id="file" value="<%= defense %>" max="230"> <%= defense %>% </progress></p>
                <p class="card-text">Speed: <%= speed %> <progress id="file" value="<%= speed %>" max="777"> <%= speed %>% </progress></p>
                <p class="card-text">Special Attack: <%= specialAttack %> <progress id="file" value="<%= specialAttack %>" max="180"> <%= hp %>% </progress></p>
                <p class="card-text">Special Defense: <%= specialDefense %> <progress id="file" value="<%= specialDefense %>" max="230"> <%= hp %>% </progress></p>
                <p class="card-text">Max HP: <%= maxhp %> </p>
                <p class="card-text">ability: <%= ability %></p>
            </div>
        </div>
    </div>

    </h1>
</body>

</html>

